*{
    box-sizing: border-box;
    text-decoration: none;

}

$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);


$font-primary: 'Poppins', 'sans-serif ';
$font-title: 'Montserrat Alternates', 'sans-serif';
$color-font: #65142C ;
$color-secondary: #B6208B;

 
a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-collapse{
    flex-grow: 0!important;
}

.nav-link, .dropdown-item, .nav-item a, .nav-item a:hover, .nav-item a:active {
    font-family: $font-primary;
    color: black;
}

.navbar-toggler:focus{
    box-shadow: none!important;
}

// Banner
.carousel-item{
    height: 580px;
    width: 100%;
    // background-color: black;
    display: flex!important;
    justify-content: center;
    margin-top: 4rem;
}

.img-banner{
    display: flex;
    justify-content: center;
    // width: 20rem;
    object-fit: cover;
}

.caption .title-caption{
    font-family: $font-title;
    color: $color-font;
    font-size: 5rem;
}

.caption{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 6%;
    display: flex;
    justify-content: start;
    text-align: start;
    flex-direction: column;
}

.caption h2{
    font-size: 5rem;
}

.icon-caption{
    margin-top:2rem;
    // padding-left: 10px;
}

.icon-caption a{
    // color: black;
    font-size: 20px;
    text-decoration: none;
    transition:all .25s;

}

// .icon-caption a{
//     transform:scale(1.1); 
//       -webkit-transform:scale(1.1);
// }

// Servicios
figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 375px;
	height: 367px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
		}
	}
	h1 {
		position: absolute;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 60px;
		font-weight: 100;
		line-height: 1;
	}
	img {
        object-fit: cover;
		height: 100%;
		transition: 0.25s;
	}
	figcaption {
		position: absolute;
		bottom: -33%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
		h3 {
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: $color-2;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
		}
	}
}

.contain-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contain-img img{
    object-fit: cover;
}

.contain-title{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    width: 100%;
}

.contain-title h2{
    font-family: $font-primary;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.096);
}

// Tienda
.contain-subtitle{
    width: 100%;
    display: flex;
    justify-content: start;
    font-family: $font-primary;
    font-size: 1.5rem;
}

.card img{
    width: 14rem;
    margin: 0 auto;
}

.contain-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.button-34 {
    background: rgb(159,38,83);
    background: linear-gradient(225deg, rgba(159,38,83,1) 32%, rgba(215,26,92,1) 70%, rgba(182,32,139,1) 92%);
    border-radius: 999px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: $font-primary;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

//   Tendendencias
.contain-trends{
    width: 100%;
    display: flex;
}

.card{
    background-color: transparent!important;
}

// Sponsors
.contain-sponsor{
    display: flex;
    justify-content: space-around;
}

.contain-sponsor img{
    width: 200px;
    object-fit: contain;
}

/* Whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:black;
	color: #fff;
	border-radius:50px;
    font-size:40px;
    z-index:100;
}

i{
    padding-left: 13px;
}

// Footer
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: left;
    font-family: $font-primary;
    padding: 15px 30px 0;
}
  
.footer-distributed p.footer-links {
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}
  
.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

  
/* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
    .caption h2{
        font-size: 3rem;
        color: white;
    }
    .contain-title h2{
        font-size: 4rem;
    }
    .icon-caption a{
        color: white;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .caption h2{
        font-size: 5rem;
    }
    .contain-title h2{
        font-size: 10rem;
    }
    .icon-caption a{
        color: black;
    }
}