:root{
    --primary-text-color: #ffffffc9;
    --secondary-text-color: rgb(49, 49, 49);
    --muted-text-color: rgb(217, 209, 222);
    font-family: 'Poppins', sans-serif;
}
 
body {
    background-color: black;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.navbar{
    margin: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-right: 30px;
}
.navbar .text-nav{
    display: flex;
    text-align: center;
    align-items: center;  
    text-decoration: none;
    padding-right: 30px;
    color: var(--primary-text-color);
}

.navbar .text-nav:hover{
    color: white;
}
.name-salon:hover{
    color: white;
}

.container-icon{
    display: flex;
    justify-content: flex-end;
}
.icon-nav{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 20px;
    color: var(--primary-text-color);
}
.header-logo{
    margin-left: 20px;
    padding-top: 8px;
}
.header-logo a{
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 12px;
}
.name-salon{
    margin: 0;
}


/* Carousel de imagenes */
.carousel{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    z-index: 4;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
}
.carousel-button{
    position: absolute;
    z-index: 2;
    background: none; 
    top: 50%;
    transform: translateY(-50%);
    border: none;  
}
.icon-carousel{
    opacity: 0.2;
    width: 4rem;
    cursor: pointer; 
    color: rgb(255, 255, 255);
    padding: 0 .5rem;
}
.icon-carousel:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
button:focus{
    outline: none;
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}

/* Titulo carousel */
.title{
    position: absolute;
    padding: 60px 30px 0 0;
    z-index: 1;

}
.title .text{
    font-size: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 3;
}
.bold-text{
    font-weight: bold;
}
.more-button{
    border: 1px solid black;
    padding: 10px 50px;
    background-color: transparent;
    font-size: 20px;
}
.more-button:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 255, 255);
}
.carousel-button:focus{

}

/* Wave */
.wave{
    position: absolute;
    margin-top: 515px;
    
}

/* Services */
.container-services{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: var(--primary-text-color);
}
.text-services{
    font-size: 50px;

}




 /*
.logo {
    position: absolute;
    left: 35px;
    top: 35px;
    padding: 0;
} */

/*Cuadrados draw*/
/* .box-decoration {
    position: absolute ;
    padding: 0;
    width: 50%;
    height: 800px;
    top: 0px;
    left:0;
    margin: 0;
    background-color: #FFD2B9;
    border-radius: 0px 0px 60px 0px;
}

.box-decoration-left {
    position: absolute;
    width: 8%;
    height: 100%;
    top: 200px;
    right:0;
    padding: 0;
    background-color: #FFD2B9;
    border-radius: 60px 0px 0px 60px;
} */

/* li {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    left: 40%;
    width: 50%;
    margin-left: 0;
    border: 1px solid black;
}*/

/*Con @media hacer responsive el nav, agregar menú hamburgesa*/

/* .nav {              
    display: flex;
    justify-content: flex-end; */
    /* position: absolute; */
    /* left: 50%; */
    /* margin-top: 2%;
    width: 50%;
} */

/* li a {
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    color: #89521F;
    font-family: 'Spartan', sans-serif;
    margin-right: 100px;
    text-decoration: none;
    /* border: 1px solid rgb(243, 17, 17);
}

.title {
    position: absolute;
    margin-top: 400px;
    margin-left: 96px;
    background-color: #FFD2B9;
    color: hsl(29, 63%, 33%);
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif; 
}

.descripcion-titulo {
    color: #89521F;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    margin-top: 710px;
    margin-left: 96px;
}

.img1 {
    position: absolute;
    left: 37%;
    top: 20%;
}

.img2 {
    position: absolute;
    left: 70%;
    top: 31%;
}

.img3 {
    position: absolute;
    left: 50%;
    top: 62%;
}

.wave1 {
    position: absolute;
    top: 0;
    right: 90%;
    left: 1000px;
    padding: 0;
    
} */

/* .wave2 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top:250px;
    width: 100%;
    height: 530px;
    padding: 0;
}

.wave3 {
    position: absolute;
    margin-left: 50%;
    padding: 0;
} */

/* #servicios{
   position: absolute;
   margin-top: 50%;
   margin-left: 45%;

   font-family: 'Poppins', sans-serif;
   color: #89521F;
   font-weight: bold;
   font-size: 40px;
}

#turnos{ */
    /* display: inline-block;
    position: absolute;
    margin-top: 80%;
    margin-left: 45%; */

    /* display: flex;

    font-family: 'Poppins', sans-serif;
    color: #89521F;
    font-weight: bold;
    font-size: 40px;
    border: 1px solid rgb(77, 17, 243);
   
} */
/* .cards-servicios {  
    display: grid;
    position: absolute;
    width: 50%;
    padding: 20px;
    background-color: rosybrown;
    top:1100px;
    border: 1px solid black;
} */

